
Migrations/202012302124377_Initial.cs
Migrations/202012302124377_Initial.cs
Migrations/202012302124377_Initial.Designer.cs
Migrations/202012302124377_Initial.resx
Migrations/Configuration.cs
Migrations/desktop.ini
App_Data/aspnet-Task-Management-Platform-20201125035317.mdf
App_Data/aspnet-Task-Management-Platform-20201125035317_log.ldf
.vs/Task-Management-Platform/v16/.suo
bin/Task-Management-Platform.dll
bin/Task-Management-Platform.pdb
Task-Management-Platform.csproj
obj/Debug/Task_Management_Platform.Migrations.Initial.resources
obj/Debug/Task-Management-Platform.pdb
obj/Debug/Task-Management-Platform.dll
obj/Debug/Task-Management-Platform.csprojAssemblyReference.cache
obj/Debug/Task-Management-Platform.csproj.GenerateResource.cache
obj/Debug/Task-Management-Platform.csproj.FileListAbsolute.txt
obj/Debug/Task-Management-Platform.csproj.CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Migrations/202012302124377_Initial.cs
Migrations/202012302124377_Initial.Designer.cs
Migrations/202012302124377_Initial.cs
Migrations/202012302124377_Initial.resx
Migrations/Configuration.cs
Migrations/desktop.ini
App_Data/aspnet-Task-Management-Platform-20201125035317.mdf
App_Data/aspnet-Task-Management-Platform-20201125035317.mdf
App_Data/aspnet-Task-Management-Platform-20201125035317.mdf
*.mdf
App_Data/aspnet-Task-Management-Platform-20201125035317.mdf
App_Data/aspnet-Task-Management-Platform-20201125035317_log.ldf
