@model Task_Management_Platform.Models.ApplicationUser


@{
    ViewBag.Title = "Afisare Membri";
}

<br />
<p class="text-success">@ViewBag.Message</p>

<h1>Utilizatori disponibili</h1>

<table class="table table-hover">
    <tbody>
        @foreach (var user in ViewBag.Users)
        {
            <tr class="table-secondary">
                <th scope="row">@user.UserName</th>
                <td><a class="btn btn-sm btn btn-success" href="/Teams/AdaugaUser/@user.Id/@ViewBag.TeamId">Adauga la echipa.</a></td>
            </tr>
        }
    </tbody>
</table>