@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.form-control2 {
    width: 100%;
    height: calc(1.5em + 1.5rem);
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #55595c;
    background-color: #f7f7f9;
    background-clip: padding-box;
    border: 0 solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    max-width: 83%;
}

.grid-container {
    grid-template-columns: auto auto;
    grid-row-gap: 5rem;
    display: grid;
}

    .grid-container .grid-item {
    }
.form-control2 {
    display: block;
    width: 30%;
    height: calc(1.5em + 1.5rem);
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #55595c;
    background-color: #f7f7f9;
    background-clip: padding-box;
    border: 0 solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control2 >input{
    border:none;
    background:transparent;
    width:100%;
    height:100%;
    padding:0;
}
.meniuEchipa{
    display:inline-flex;
    text-align:center;
    height:3rem;
    justify-content:center;

}