<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Carousel Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        media (min-width: 768px) {
            .bd-placeholder-img-lg

        {
            font-size: 3.5rem;
        }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="~/Content/carousel.css" rel="stylesheet">
</head>
<body>
    <main style="margin-top: 20px;">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

                    <div class="container" style="background-image:url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fblog.vantagecircle.com%2Fteamwork-quotes%2F&psig=AOvVaw3jcMelOEhpkFela3zGkOOc&ust=1609711596446000&source=images&cd=vfe&ved=2ahUKEwi-iLmQof7tAhUkD2MBHcRACqMQjRx6BAgAEAc')">
                        <div class="carousel-caption text-start">
                            <p>"The strength of the team is each individual member. The strength of each member is the team."</p>
                            <small>Phil Jackson</small>
                            <br />
                            <br />
                            <p><a class="btn btn-lg btn-primary" href="/Account/Register" role="button">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Why us</h1>
                            <br />
                            <p>Because we know and value the importance of teamwork which is why our site is designed to facilitate teamwork across the world.</p>
                            <br />
                            <p><a class="btn btn-lg btn-primary" href="/Account/Register" role="button">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <p>The past year has changed the way we see the world and has forced us to find new ways of working together to achieve our collective goals.</p>
                            <p>Even if working is different now, that doesn't mean we can't make the most out of it and enjoy our time with our colleagues. All we need is the right platform for it.</p>
                            <br />
                            <p><a class="btn btn-lg btn-primary" href="/Account/Register" role="button">Sign up today</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                    <h2>Dudău Claudia-Maria</h2>
                    <p>Ambition is the key. I consider myself a student who is eager to learn more and to dive deeper into problems. If there is a bug, for sure, it can be solved!</p>
                    <p><a class="btn btn-secondary" href="https://github.com/claudia-maria-dudau" role="button">Go to my github &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                    <h2>Costrun Larisa-Bianca</h2>
                    <p>A passionate about technology and innovation who is looking forward into being in a constant improvement.There is always room for something better!</p>
                    <p><a class="btn btn-secondary" href="https://github.com/Larisuk" role="button">Go to my github &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->

        <!-- FOOTER -->
        <footer class="container">
            <p class="float-end"><a href="#">Back to top</a></p>
         </footer>
    </main>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

</body>
</html>
