
@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.Message</h1>

<h2>Task-uri</h2>

<a class="btn btn-primary" href="/Tasks/New">Adauga task</a>
<br />

@foreach (var task in ViewBag.Tasks)
{
    <div class="panel panel-default">
        <div class="panel-heading">@task.Title</div>

        <div class="panel-body">
            <span class="label label-info">Perioada: @task.DataStart - @task.DataFin</span>
            <br />
        </div>

        <div class="panel-footer">
            <a class="btn btn-sm btn btn-success" href="/Tasks/Show/@task.TaskId">Afisare task</a>
        </div>
    </div>
}